<div class="container">
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 id="head-person">ข้อมูลสุขภาพ</h1>  
          <table class="table">
            
            <tbody>
              <tr>
                <td id="head-second" width="200">โรคประจำตัว</td>
                <td id="tb1">ไม่มี</td>
              </tr>
              <tr>
                <td id="head-second">ยาที่ใช้ประจำ</td>
                <td id="tb2">ไม่มี</td>
              </tr>
              <tr>
                <td id="head-second">แพ้ยา</td>
                <td id="tb3">ไม่มี</td>
              </tr>
              <tr>
                <td id="head-second">กรุ๊ปเลือด</td>
                <td id="tb4">-</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-5" style="border-left: 1px solid #dddddd;">
          <table class="table">
            <tbody>
              <tr>
                <td id="head-person" width="200">สิทธิการรักษา</td>
                <td>หลักประกันสุขภาพแห่งชาติ</td>
              </tr>
              <tr><td></td><td></td></tr>
              <tr>
                <td id="head-person">ยืนยันตัวบุคคล</td>
                <td></td>
              </tr>
              <tr>
                <td id="head-second">รหัส OPT</td>
                <td id="pin">*****</td>
              </tr>
              <tr>
                <td id="head-second">ลายนิ้วมือ</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12"> </div>
      </div>
    </div>
  </div>


</div>
 